.jumbotron {
    background: none;
}

h1 {
    margin: 0 0 2em 0;
    font-family: "Source Snas Pro", Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    display: block;
    margin-block-start: 0.67em;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
    background: url("../images/greek-vase.png");
}

.navbar-nav>li {
    border-right: 1px solid #000;
}

.navbar-brand {
    border: 5px;
    padding: 20px;
    font-weight: 700;
    font-size: 30px;
    margin-left: 80px;
}

.navbar-nav>li:last-child {
    border: none;
}

.header {
    width: 100%;
    margin-bottom: 100px;
    clear: both;
    background-color: #ffffff;
    position: fixed;
    color: #ffffff;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    clear: both;
    overflow-y: auto;
    padding-top: 20px;
}

h1 {
    padding: 15px;
    color: #4aaaa5;
    font-weight: 600;
    border-bottom: 4px solid #777777;
}

.img-fluid {
    max-width: 100%;
    width: 250px;
    height: 200px;
    height: auto;
    border: 5px;
    margin: 5px 15px 5px 0px;
    float: left;
}

.img-responsive {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
    z-index: 0;
}

.row {
    margin: 0;
    padding: 0;
}

h5 {
    position: absolute;
    bottom: 20px;
    width: 274px;
    padding: 20px;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: black;
    border: 4px solid;
    padding-top: 30px;
    padding-bottom: 0;
}

p {
    font-size: 18px;
}

form {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

table#social {
    border-collapse: separate;
    border-spacing: 10px 1px;
    float: left;
}

.secondary-btn {
    background-color: cornflowerblue;
    font-size: 20px;
}